:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* 
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
.header {
  background-color: blue;
  top: 0;
  display: fixed;
  height: 5rem;
}

.header__title {
  color: rgb(253, 172, 172);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
}
.header__semi {
  color: rgb(253, 172, 172);
}

.entry-form__fields {
  display: flex;
  flex-direction: column;
}
.entry-form__field {
  display: flex;
  flex-direction: column;
}

.button:hover {
  background-color: blue;
}
label {
  padding: 0.5rem;
}
button {
  margin: 2rem;
}

/* badge */
.badge {
  display: inline-block;
  font-size: 12px;
  padding: 2px 9px;
  border-radius: 999px;
  background-color: var(--color-water-10);
  color: var(--color-granite);
  font-weight: 400;
}

.badge--active {
  background-color: var(--color-nemo);
  color: var(--color-foam);
}

/* tabs */
.tabs {
  width: 100%;
  display: flex;
  gap: 32px;
}
