
* {
  box-sizing: border-box;
  font-family: monospace;
  font-size: 1rem;
  line-height: 1.5;
  background-color: LemonChiffon; 
}

h1, .subtitle {
  line-height: 1.2;}



.title {
  background-color: white;
  margin-top: 0px;
  padding: 10px;
  text-align: center;
}

section {
  border-left: 5px solid orange;
  background-color: white;
  padding: 20px;
  margin: 10px;
}

.subtitle {
  border-left: 3px solid gold;
  border-right: 3px solid gold;
  padding-right: 8px;
  text-align: right
}

#fav {
  border-color: orange;
}

ul
 {
  list-style: "🧡";
  padding-left: 40px;
}

.image-fluid {
  width: 100%;
  height: auto;
}
